{% load bootstrap4 %}

    <div class="container m-5">
        <div class="row">
            <div class="col justify-content-center">
                 <a class="btn btn-outline-dark " href="{% url 'gallery' %}">Go to main page</a>

            <div style ="height: 90vh;">
            
            <img  style="max-width: 100%; max-height: 100%;"
            src="{{image.image.url}}"
            > 
             <p>{{image.description}}</p>
             <p>This photo was taken at:{{image.location}}</p>

             <input style="text-align:center;" type="text" value="{{image.image.url}}" id="url">
             <button style="background:black; color:white; text-align:center;" onclick="CopyUrl()">Copy Image URL</button>

        
            </div>

            </div>
            {% block scripts %}
  {% bootstrap_javascript %}
  <script>
    function CopyUrl() {
      var text = document.getElementById('url')
      text.select();
      document.execCommand('copy')
      alert('The image URL has been copied')
    }
  </script>
  {% endblock %}

      
